.reset-pass-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/La-Petite-Ferme-13.png");
    background-size: cover;
    /* Make image cover the full area */
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* No repeat */
    background-attachment: fixed;
    /* Optional: parallax effect */


}

.reset-pass-container {
    background-color: rgba(0, 0, 0, 0.785);
    /* semi-transparent white background */
    padding: 4%;
    border-radius: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* color: white; */

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}

.reset-pass-title {
    /* font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, sans-serif; */
    font-size: 30px;
    font-weight: 600;
    line-height: 55px;
    color: white;

}

.reset-pass-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 100%;

}

.reset-pass-form p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 400;
}

.reset-pass-button {
    height: 60px;
    font-size: large;
    /* text-align: start; */
    border-radius: 15px;
    border: none;
    overflow-y: hidden;
    margin-top: 0;
    line-height: 15px;
    background-color: orange;
    color: white;
}

.reset-pass-button:hover {
    background-color: orangered;
    font-size: large;
}
